{% extends "layout/base.html" %}

{% block 'title' %} Gastos {% endblock %}

{% block 'content' %}
    <div class="container">
        {# para visualizar el mensaje #}
        {% include "consumos/partials/msg_delete.html" %}

        <h1>Control de Gastos y costos</h1>

        {% include "consumos/partials/search.html" %}

        <span class='btn-aux'>
            <a href="{% url "consumo" %}" class='btn btn-detail'>Ver todos</a>
            {% if perms.app.add_consumo %}
                <a href="{% url "consumo_add" %}" class='btn btn-edit'>Añadir</a>
            {% else %}
                <a href="javascript:void(0);" class='btn btn-edit btn-disabled' title="No tienes permiso para añadir">Añadir</a>
            {% endif %}
        </span>

        {% include "consumos/partials/list_consumo.html" %}
        <br>
        {% if is_search and total_costos != 0 %}
            <table>
                <tr>
                    <th>Número de gastos:</th>
                    <td>{{ numero_consumos }}</td>
                </tr>
                <tr>
                    <th>Total de Gastos:</th>
                    <td>{{ total_costos|floatformat:2 }} COL$</td>
                </tr>
            </table>
        {% endif %}
    </div>
{% endblock %}